services:
    twig.extension.cms:
        class: Alpixel\Bundle\CMSBundle\Twig\Extension\CMSExtension
        arguments:
            - @cms.helper
            - @service_container
            - %cms.content_types%
        tags:
            - { name: twig.extension }

    twig.extension.cms_block:
        class: Alpixel\Bundle\CMSBundle\Twig\Extension\BlockExtension
        arguments:
            - @service_container
            - @doctrine
            - %cms.blocks%
        tags:
            - { name: twig.extension }

    cms.sitemap:
        class: Alpixel\Bundle\CMSBundle\Listener\SitemapListener
        arguments: [@doctrine, @router]
        tags:
            - { name: kernel.event_listener, event: 'seo.sitemap.populate', method: populateSitemap }

    cms.helper:
        class: Alpixel\Bundle\CMSBundle\Helper\CMSHelper
        arguments:
            - "@doctrine.orm.entity_manager"
            - "%cms.content_types%"

    cms.listener.kernel:
        class: Alpixel\Bundle\CMSBundle\Listener\KernelListener
        arguments:
            - "@request_stack"
            - "@security.context"
            - "%secret%"
        tags:
            - { name: 'kernel.event_listener', event: 'kernel.response' }
