services:

    alpixel_cms.twig.extension.text:
        class: Alpixel\Bundle\CMSBundle\Twig\Extension\TextExtension
        tags:
            - { name: twig.extension }

    alpixel_cms.sitemap.listener:
        class: Alpixel\Bundle\CMSBundle\Listener\SitemapListener
        arguments:
            - "@router"
            - "@doctrine.orm.entity_manager"
            - "%default_locale%"
            - "%enabled_locales%"
            - "%url_production%"
        tags:
            - { name: presta.sitemap.listener }

    alpixel_cms.routing_loader:
        class: Alpixel\Bundle\CMSBundle\Routing\CMSRouteLoader
        tags:
            - { name: routing.loader }

    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }

    twig.extension.debug:
        class: Twig_Extension_Debug
        tags:
            - { name: twig.extension }

    twig.extension.date:
        class: Twig_Extensions_Extension_Date
        tags:
            - { name: twig.extension }

    alpixel_cms.twig.extension.cms:
        class: Alpixel\Bundle\CMSBundle\Twig\Extension\CMSExtension
        arguments:
            - '@alpixel_cms.helper.cms'
            - '@service_container'
            - '%alpixel_cms.content_types%'
        tags:
            - { name: twig.extension }

    alpixel_cms.twig.extension.block:
        class: Alpixel\Bundle\CMSBundle\Twig\Extension\BlockExtension
        arguments:
            - '@alpixel_cms.helper.block'
            - '@service_container'
            - "%alpixel_cms.blocks%"
        tags:
            - { name: twig.extension }

    alpixel_cms.twig.extension.translation:
        class: Alpixel\Bundle\CMSBundle\Twig\Extension\TranslationExtension
        arguments:
            - '@alpixel_cms.helper.cms'
            - '@alpixel_cms.helper.block'
            - '@service_container'
        tags:
            - { name: twig.extension }

    alpixel_cms.helper.cms:
        class: Alpixel\Bundle\CMSBundle\Helper\CMSHelper
        arguments:
            - "@doctrine.orm.entity_manager"
            - "%alpixel_cms.content_types%"

    alpixel_cms.helper.block:
        class: Alpixel\Bundle\CMSBundle\Helper\BlockHelper
        arguments:
            - "@request_stack"
            - "@doctrine.orm.entity_manager"
            - "%alpixel_cms.blocks%"

    alpixel_cms.exception_controller:
        class: Alpixel\Bundle\CMSBundle\Controller\ExceptionController
        arguments: ['@twig', '%kernel.debug%', '%alpixel_cms.exception_template%']


    alpixel_cms.listener.kernel:
        class: Alpixel\Bundle\CMSBundle\Listener\KernelListener
        arguments:
            - "@request_stack"
            - "@security.token_storage"
            - "@security.authorization_checker"
            - "%secret%"
        tags:
            - { name: 'kernel.event_listener', event: 'kernel.response' }

    alpixel_cms.listener.doctrine.node_resolver_subscriber:
        class: Alpixel\Bundle\CMSBundle\Listener\CMSResolverSubscriber
        arguments:
            - '%alpixel_cms.content_types%'
            - '%alpixel_cms.blocks%'
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    alpixel_cms.admin.node:
        class: Alpixel\Bundle\CMSBundle\Admin\AdminNode
        arguments:
            - ~
            - Alpixel\Bundle\CMSBundle\Entity\Node
            - 'AlpixelCMSBundle:AdminNode'
        tags:
            - {name: sonata.admin, manager_type: orm, group: 'CMS', label: 'Gestion des pages'}
        calls:
            - [ setTemplate, [layout, AlpixelCMSBundle:admin:page/base.html.twig]]

    alpixel_cms.admin.block:
        class: Alpixel\Bundle\CMSBundle\Admin\AdminBlock
        arguments:
            - ~
            - Alpixel\Bundle\CMSBundle\Entity\Block
            - 'AlpixelCMSBundle:AdminBlock'
        tags:
            - {name: sonata.admin, manager_type: orm, group: 'CMS', label: 'Gestion des blocs'}
        calls:
            - [ setTemplate, [edit, AlpixelCMSBundle:admin:page/base_edit.html.twig]]