services:
    alpixel_cms.twig.extension.cms:
        class: Alpixel\Bundle\CMSBundle\Twig\Extension\CMSExtension
        arguments:
            - '@alpixel_cms.helper'
            - '@service_container'
            - '%alpixel_cms.content_types%'
        tags:
            - { name: twig.extension }

    alpixel_cms.twig.extension.block:
        class: Alpixel\Bundle\CMSBundle\Twig\Extension\BlockExtension
        arguments:
            - '@service_container'
            - '@doctrine'
            - '%alpixel_cms.blocks%'
        tags:
            - { name: twig.extension }
    alpixel_cms.helper:
        class: Alpixel\Bundle\CMSBundle\Helper\CMSHelper
        arguments:
            - "@doctrine.orm.entity_manager"
            - "%alpixel_cms.content_types%"

    alpixel_cms.exception_controller:
        class: Alpixel\Bundle\CMSBundle\Controller\ExceptionController
        arguments: ['@twig', '%kernel.debug%']


    alpixel_cms.listener.sitemap:
        class: Alpixel\Bundle\CMSBundle\Listener\SitemapListener
        arguments: ['@doctrine', '@router']
        tags:
            - { name: kernel.event_listener, event: 'seo.sitemap.populate', method: populateSitemap }

    alpixel_cms.listener.kernel:
        class: Alpixel\Bundle\CMSBundle\Listener\KernelListener
        arguments:
            - "@request_stack"
            - "@security.context"
            - "%secret%"
        tags:
            - { name: 'kernel.event_listener', event: 'kernel.response' }
    alpixel_cms.listener.doctrine.node_resolver_subscriber:
        class: Alpixel\Bundle\CMSBundle\Listener\NodeResolverSubscriber
        arguments:
            - '%alpixel_cms.content_types%'
        tags:
            - { name: doctrine.event_subscriber, connection: default }
